body {
  background-color: black;
  color: yellow;
  font-family: 'Trebuchet MS', sans-serif;
}

.message {
  text-align: center;
  color: white;
  /* text-transform: uppercase; */
}

#gameButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message, h2, p {
  margin: 0;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Define the map class */
.map {
  
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: flex;
  flex-wrap: wrap;
  max-width: 630px;
  display: relative;
}

.row {
  display: flex;
  justify-content: space-between;
}

.cell {
  background-color: black;
  padding: 4px;
  width: 25px;
  height: 25px;
  max-width: 28px;
  max-height: 28px;
}

.food {
  background: url('../assets/pink-dot.png');
}

.wall {
  background: url('../assets/wall.png');
}

.black {
  background: none;
  background-color: black;
}

.pacman, .ghost {
  position: absolute;
  width: 33px;
  height: 33px;
  /* Movimiento continuo */
  transition: transform 0.35s linear;
}

.pacman-img {
  background-image: url('../assets/pac.gif');
  background-size: cover;
  width: 100%;
  height: 100%;
}

.ghost {
  background: url('../assets/yellow_ghost.gif');
  filter: hue-rotate(180deg);
  /* Mágia */
  z-index: 100;
  background-size: cover;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scores {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  /* margin: auto; */
  padding: 1% 30%;
}

.score-value {
  font-size: 2rem;
}

.pacman-1, .score-header-p1, #score-p1 {
  filter: hue-rotate(60deg);
}
