body {
  background-color: black;
  color: yellow;
  font-family: 'Trebuchet MS', sans-serif;
}

h1.title {
  text-align: center;
  /* text-transform: uppercase; */
}

.selected {
  color: red;
}

.conatiner {
  /* its must center everthing in a columns */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Define the map class */
.map {
  display: flex;
  flex-wrap: wrap;
  max-width: 630px;
  display: relative;
}

.row {
  display: flex;
  justify-content: space-between;
}

.cell {
  background-color: black;
  padding: 4px;
  width: 25px;
  height: 25px;
  max-width: 28px;
  max-height: 28px;
}

.food {
  background: url('../assets/pink-dot.png');
}

.wall {
  background: url('../assets/wall.png');
}

.black {
  background: none;
  background-color: black;
}

.pacman {
  position: absolute;
  width: 33px;
  height: 33px;
  background: yellow;
  /* background: url('../assets/pacman-0-left.png'); */
  /* Mágia */
  transition: transform 0.5s linear;
  border-radius: 100%
    /* rotate: transform 0s; */
}

.pacman-1 {
  filter: hue-rotate(60deg);
}

.scores {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: auto;
  padding: 0% 30%;
}

.score-value {
  font-size: 2rem;
}

.score-header-p1, #score-p1 {
  filter: hue-rotate(60deg);
}
